@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* backdrop-filter: blur(50px); */
    -webkit-backdrop-filter: blur(10px);
}

.nav {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    display: flex;
    text-align: justify;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.card img {
    /* width: 100%; */
    height: auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.card-body h5 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1f2937;
}

.card-body p {
    color: #4b5563;
}

.button-group {
    display: flex;
    gap: 10px;
}

.button-group a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 0.875rem;
    font-weight: medium;
    color: white;
    border-radius: 6px;
}

.button-group a.sourcecode {
    background-color: #3b82f6;
}

.button-group a.sourcecode:hover {
    background-color: #2563eb;
}

.button-group a.demo {
    background-color: #374151;
}

.button-group a.demo:hover {
    background-color: #1f2937;
}

.button-group svg {
    margin-right: 10px;
}

/* Video Styles */
#background-video {
    position: fixed; /* Sticks the video to the background */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Covers the entire screen without distortion */
    z-index: -1; /* Places video behind the content */
  }
  
  /* Content Styles */
  .contents {
    position: relative;
    z-index: 1;
  }
  